@charset "UTF-8";
/* CSS Document */
@import "normalize";
$width: 728;
$height: 90;
$bannerWidth: $width + px;
$bannerHeight: $height + px;
@font-face {
    font-family: 'Ciutadella-Medium';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Ciutadella-Regular';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'CiutadellaRounded-Rg';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.ttf') format('truetype');
}

body {
    font-family: 'Ciutadella-regular', sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
    overflow: hidden;
}

.copy {
    font-family: 'Ciutadella-regular', sans-serif;
    color: #fff;
}

.font-regular {
    font-family: 'Ciutadella-regular', sans-serif;
    text-rendering: optimizeLegibility;
}

.font-medium {
    font-family: 'Ciutadella-Medium', sans-serif;
    text-rendering: optimizeLegibility;
}

.font-rounded {
    font-family: 'CiutadellaRounded-Rg', sans-serif;
    text-rendering: optimizeLegibility;
}

.copy {
    font-family: 'Ciutadella-regular', sans-serif;
    color: #fff;
}

p,
span {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    padding: 8px 20px 7px;
    font-size: 15px;
    line-height: 17px;
    outline: none;
}

button.hover,
button:hover {
    background: white;
    color: #ee0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 31px;
    line-height: 32px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 25px;
}

.container {
    display: none;
    width: ($width - 2)+px;
    height: ($height - 2)+px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    width: 726px;
    height: 88px;
    top: 0;
    left: 0;
    border: 1px solid #e2e2e2;
    position: relative;
}

.loader img {
    position: absolute;
    top: 23px;
    left: 344px;
}

.grey-border {
    position: absolute;
    width: 726px;
    height: 88px;
    top: 0;
    left: 0;
    border: 1px solid #e2e2e2;
    z-index: 8000;
    pointer-events: none;
}

.banner {
    position: absolute;
    width: ($width - 2)+px;
    height: ($height - 2)+px;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #F5F5F5;
    clip: rect(0px, 728px, $bannerHeight, 0px);
    overflow: hidden;
    border: 1px solid #e2e2e2;
}
// Copy
.frame-content p {
    font-size: 24px;
    line-height: 1.1;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.subtext {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: white;
    top: 30px;
    width: 100%;
    text-align: center;
}

#messaging-frame-01, #messaging-frame-02 {
    position: absolute;
    z-index: 200;
    width: 270px;
    top: 20px;
    left: 232px;
    text-align: center;
}

#messaging-frame-02 {
  top:30px;

  .switcheroo-text {
    display: inline-block;
  }
}

#messaging-frame-03 {
    position: absolute;
    z-index: 200;
    width: 600px;
    top: 12px;
    left: 20px;
    text-align: left;

    p {
      font-size: 18px;
      line-height: 27px;
      color: #fff;
      text-rendering: optimizeLegibility;
    }

    span.qantas-points {
      display: inline-block;
      font-size: 28px;
      width: 728px;
    }

    span.points-value {
      display: inline-block;
      font-size: 38px;
      font-weight: 600;
    }

    .asterix-points {
      display: inline-block;
    }
}

#messaging-end-frame {
    position: absolute;
    z-index: 200;
    width: 600px;
    top: 29px;
    left: 20px;
    color: white;

    p {
      font-size: 30px;
      margin-left: 10px;
    }
}
// LOGOS
#logos-container {
    position: absolute;
    z-index: 200;
    right: 147px;
    top: 21px;
}

.qantas-logo-mono {
    position: absolute;
    z-index: 190;
    width: 121px;
    height: 24px;
    left: 0;
    top: 4px;
}

.qantas-logo-colour {
    position: absolute;
    z-index: 191;
    width: 121px;
    height: 35px;
    left: 0;
    top: 4px;
}

.partner-logo {
    position: absolute;
    top: -37px;
    left: 14px;
    z-index: 400;
    width: 93px;
    height: 40px;
}

.oneworld-logo {
    position: absolute;
    width: 24px;
    left: 136px;
    top: 4px;
}

#cta-button {
    position: absolute;
    display: block;
    left: 280px;
    top: -2px;
}
//PRICING FRAME
.pricing {
    position: relative;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

#from {
    position: relative;
    display: block;
    margin-bottom: 2px;
    font-family: 'Ciutadella-Regular';
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    /*    -webkit-font-smoothing: antialiased; */
}

#destination {
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 32px;
    font-family: 'Ciutadella-Medium';
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

#destination-lockup {
    position: relative;
    display: inline-block;
}

#price-left-copy {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1px;
    text-align: left;
}

#price-right-copy {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1px;
    text-align: left;
}

#price {
    position: relative;
    display: inline-block;
    font-family: 'Ciutadella-Medium';
    font-size: 36px;
    color: #fff;
    text-align: center;
    z-index: 7000;
    -webkit-font-smoothing: antialiased;
}

#asterix-char {
    position: absolute;
    top: 3px;
    font-family: 'Ciutadella-Medium';
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.terms {
    display: block;
    position: absolute;
    z-index: 8001;
    width: 600px;
    text-align: left;
    left: 10px;
    bottom: 4px;
    font-size: 9px;
    color: white;
    line-height: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.shapes {
    position: absolute;
    top: -80px;
    left: 200px;
    width: 300px;
    height: 250px;
    z-index: 6500;
    pointer-events: none;
}

#mask-shape {
    position: absolute;
    width: 6866px;
    height: 4833px;
    top: -1000px;
    left: -1000px;
    z-index: 6500;
}

#blue-shape {
    position: absolute;
    width: 113px;
    height: 111px;
    top: 0;
    left: 0;
    z-index: 6900;
}

#blue-shape-small {
    position: absolute;
    width: 64px;
    height: 68px;
    top: 0;
    left: 0;
    z-index: 6900;
}

#white-shape-small {
    position: absolute;
    z-index: 112;
    left: 230px;
    top: -280px;
    width: 838px;
    height: 462px;
}

#base-red {
    position: absolute;
    z-index: 105;
    left: 0;
    top: 0;
    width: 728px;
    height: 90px;
}

#red-gradient {
    position: absolute;
    z-index: 111;
    left: 300px;
    top: 0;
    width: 838px;
    height: 462px;
}

#text-base-shape,
#text-base-shape2 {
    position: absolute;
    z-index: 110;
    left: 300px;
    top: 0;
    width: 838px;
    height: 462px;
}
#text-base-shape2 {
    // transform: rotate(104deg) scale(.8);
    top: -232px;
    left: -57px;
    position: absolute;
    z-index: 110;
}

#solid-red-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    background-color: #d00914;
    z-index: 0;
}
// Base Images
// BG IMAGE FLIP
.bg-Wrapper{
  width:728px;
  height:90px;
  position:relative;
  /*background-color:#333;*/
  // float:left;
  // margin-right:10px;
  // cursor:pointer;
  -webkit-font-smoothing:antialiased;
}

.flip {
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  width: 728px;
  height: 90px;
}

.bg-image {
    position: absolute;
    width: 728px;
    height: 90px;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 100;
}


.bg-image-01 {
    position: absolute;
    z-index: 130;
    width:720px;
}

.bg-image-02 {
    position: absolute;
    z-index: 131;
    width:720px;
}

.clicktag {
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 700px;
    height: 72px;
    top: 4px;
    left: 4px;
    background-color: white;
    z-index: 9999;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
}

.overlay h6 {
    font-size: 16px;
    color: #E0001A;
}

.overlay-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.overlay-close img {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 8px;
}
.overlay-close:hover img {
    width: 10px;
    height: 10px;
    opacity: 0.7;
}

.overlay-body {
    font-size: 10px;
    padding-top: 8px;
    font-family: 'Ciutadella-Regular';
    line-height: 14px;
    max-height: 38px;
    overflow-y: scroll;
}

.asterix {
    font-family: 'Ciutadella-Regular';
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 0;
}
